<div class="col-sm-{{columns}}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{label}}
                <img class="loading" data-ng-if="listIsLoading" src="imgs/loading.gif">

                <span id="detail-buttons">
                    <a href="javascript:void(0)"  data-ng-click="refresh()" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <table  class="table table-fixed table-striped table-hover" data-sortable data-ng-if="items != null && items.length > 0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th data-ng-repeat="(key, value) in items[0]">
                            {{key}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="(key, item) in items" data-ng-click="navigateTo(item)" data-ng-attr-class="{{$routeParams.instanceId == item.id ? 'success': ''}}">
                        <td>{{key}}</td>
                        <td data-ng-repeat="value in item">
                            {{value}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>